.background-base {
  background-repeat: no-repeat;
  min-height: 100vh;
  background: url("/img/background.png")
}

.select-login {
  width: 50%;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
  text-align: center;
  font-weight: 700;
  text-transform: uppercase
}
.select-login .link {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
.select-login .button {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity))
}
