.wrapper__events-list {
  display: flex;
  justify-content: space-between;
}
.wrapper__events-list .container__main {
  margin-left: 300px;
  width: 100%;
}
.wrapper__events-list .container__main .title__back {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #0E3536;
  margin-right: 30px;
}
.wrapper__events-list .container__main .add__event {
  background: #60A5FA;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #F1F1F1;
  text-transform: uppercase;
}
.wrapper__events-list .container__main .container__list table thead tr {
  background: white;
}
.wrapper__events-list .container__main .container__list table thead tr th {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #0E3536;
  font-size: 13px;
}
.wrapper__events-list .container__main .container__list table tbody tr {
  background: white;
}
.wrapper__events-list .container__main .container__list table tbody tr th {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #0E3536;
  font-size: 13px;
}
.wrapper__events-list .container__main .container__list table tbody tr:nth-child(odd) {
  background: #F1F1F1;
}
.wrapper__events-list .container__main .container__list table tbody tr:nth-child(even) {
  background: #60a5fa6e;
}

.container__sidebar {
  background: #60A5FA;
  width: 300px;
  /* Set the width of the sidebar */
  height: 100vh;
  z-index: 1;
  /* Stay on top */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.container__sidebar img {
  margin-top: 20px;
}
.container__sidebar .container__menu {
  margin-top: 50px;
}
.container__sidebar .container__menu ul {
  margin-bottom: 30px;
}
.container__sidebar .container__menu ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #F1F1F1;
  margin: 10px 0;
  text-transform: uppercase;
}
.container__sidebar .container__menu .btn__event {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: #F1F1F1;
  color: #000000;
  padding: 10px;
}
.container__sidebar .container__logout {
  margin-top: 55vh;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.container__sidebar .container__logout button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: #F1F1F1;
  color: #000000;
  padding: 10px 20px;
}
